html, body { /*body ocupando a altura total do viewport*/
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container { /*fazer o conteúdo principal ocupar o espaço restante*/
    flex: 1;
}

body {
    background-color: #ffffff;
    color: #333333;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffc107;
}

h1 {
    color: #ffc107;
}

.logo-hover img {
    transition: opacity 0.3s ease-in-out;
}

.logo-hover:hover img {
    content: url("/images/logo_mostarda.png");
}

.horario-modal {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #ffc107;
    color: #000;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-style: solid;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer h5 {
    margin-bottom: 20px;
    font-weight: bold;
}

.payment-icons i,
.social-icons i {
    font-size: 2rem;
    margin-right: 15px;
}

.payment-icons i {
    color: #ffc107;
}

.social-icons i {
    color: #ffffff;
}

footer a:hover {
    color: #ffc107;
}

footer .col-md-4 p {
    margin-bottom: 5px;
}

footer .social-icons a {
    text-decoration: none;
}
